<%= render 'shared/navbar' %>
<div class="height-80vh container my-3 d-flex flex-column align-items-center">
  <h1 class="my-3">Create a new cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>
</div>
