.ingredients-recipe {
  li {
  list-style: none;
  }
}

.icon-direction {
  font-size: 24px;
}


.stars {
  color: rgb(248,183,4);
}

h1, h5 {
  color: #eee;
}


#new_review, #new_dose {
  color: #eee;
  width: 60%;
}

.icon-white {
  color: #eee;
}
