.cocktail-link-button {
  margin-left: 5px;
  a {
    font-size: 0.8rem;
    color: $gray;
    &:hover {
      font-size: 1rem;
      color: black;
    }
  }
}

.favorite-icon-dashboard {
  position: absolute;
  top: 17px;
  right: 16px;
  margin-left: 1rem;
  color: rgba(243,85,76,0.8);
  font-size: 1rem;
  &:hover {
    color: rgba(243,85,76,1);
    font-size: 1.1rem;
  }
}

.edit-button {
  position: absolute;
  top: 17px;
  right: 16px;
  margin-left: 5px;
  a {
    font-size: 0.8rem;
    color: $gray;
    &:hover {
      font-size: 1rem;
      color: black;
    }
  }
}
