.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  a {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  .avg-ratings-cocktail {
    position: absolute;
    top: 15px;
    right: 30px;
  }
}


.card-recipe {
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.card-reviews {
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

